.customNav {
  position: fixed;
  background-color: #001514 !important;
  background-size: cover;
  z-index: 10;
  margin-right: -15px !important;
}

.mainheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navoptions {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 600px;
    padding-left: 300px;
    padding-right: 300px;
}

.title {
    display: flex;
    margin-top: 20px;
    font-size: 80px;
    margin-left: 20px;
}

.logo {
    display: flex;
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

.right a {
    color: white;
    padding: 10px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    color: white !important;
}

.right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

h2 {
    font-size: 50px;
}

.column {
    margin-left: 60px;
    margin-right: 60px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subcontainer {
    background-color: #690500 !important;
    color: white !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    text-align: center !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.container4 {
    background-color: #CEB7B3;
    margin-bottom: 10px;
    padding: 10px;
    border: solid black 1px;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: black solid 5px;
}

footer {
    background-color: #001514;
    height: 200px;
    padding: 60px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.background {
    background-image: url("../img/New Background-02.jpg");
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 30px;
}

.background2 {
    background-color: #EFECCA; 
    margin-left: 250px; 
    margin-right: 250px; 
    margin-top: -20px;
    margin-bottom: -30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.background3 {
    background-color: #E08D79;
}
.graphicdesign {
    background-color: #EAF0CE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.graphicdesign2 {
    background-color: #8B7845;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.uxui {
    background-color: #76877D;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.uxui2 {
    background-color: #FFE19C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.buttons {
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
    margin-bottom: 25px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.banner {
    background-color: #690500;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 100px;
    padding-top: 3px;
    padding-bottom: 10px;
    display: flex;
}

.thesis1 {
    background-color: #EE5622;
    display: flex;
}

.resume {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.overlayimg1 {
    background-image: url();
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    object-fit: cover;
}
  
.loading {
    animation: spin 3s ease;
    width: 150px;
    margin: 0 auto;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
}

.profilepic {
    width: 65%;
}

.subtitle {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 35px;
    color: black !important;
}

.subtitle2 {
    font-size: 30px;
    color: black !important;
    font-weight: bold;
}

.para {
    font-size: 20px;
    margin-right: 20px;
    line-height: 40px;
}

.para2 {
    font-size: 20px;
    line-height: 30px;
}

.caro {
    width: 75%;
    margin-top: 40px;
    margin-left: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.contact {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 80px;
    line-height: 40px;
    color: black !important;
}

.wdp {
    margin-top: 30px;
    background-image: url("../Graphic Design/Workers Defense Project Website Redesign.jpg");
    background-repeat: no-repeat;
    width: 960px;
    height: 500px;
    padding-bottom: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.casestudy {
    display: block;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.casestudy1 {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.cs1 {
    background-color: #FFE19C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    display: block;
}


.subbackground {
    background-color: #690500;
    color: white !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    text-align: center !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.para {
    font-size: 18px;
    color: black !important;
    padding-left: 40px;
    padding-right: 40px;   
}

.zoom {
    transition: transform 0.2s;
    margin: auto;
}

.zoom:hover {
    transform: scale(1.5);
}

.zoom2 {
    transition: transform 0.2s ease-in-out;
    fill: black;
}

.zoom2:hover {
    opacity: 0.5;
    transform: scale(1.5);
}